.backImage{
  background-image: url("/client/public/assets/Organic-GIF-1.gif");
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(30%);
    background-position: center;
    margin: 0;
    padding: 0;
  }