.footer {
  background-color: rgb(240, 222, 174);
  margin-top: 25px;

  .footer_info {
    padding: 2rem;

    .about_us {
      h5 {
        font-weight: 500;
        text-transform: uppercase;
      }
      div {
        margin-top: 25px;
        p {
          color: var(--color-gray);
        }
      }
    }
    .information {
      h5 {
        font-weight: 500;
        text-transform: uppercase;
      }
      div {
        margin-top: 25px;
        li {
          color: var(--color-gray);
          list-style: none;
          margin: 5px 0;
          font-size: 16px;
        }
      }
    }
    .newsletter {
      h5 {
        font-weight: 500;
        text-transform: uppercase;
      }
      div {
        margin-top: 25px;
        p {
          color: var(--color-gray);
          font-size: 16px;
        }
        input {
          height: 35px;
          border: 1px solid black;
          outline: none;
          background-color: #fff;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
  .copyright {
    height: 50px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #000;
    }
  }
}
