.cart {
  min-height: 100vh;
  display: flex;
  margin-top: 30px;

  .cart_container {
    padding: 1rem;
    .cart_item {
      .item_info {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
        }

        .stockCounter {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          span {
            height: 30px;
            width: 30px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid var(--color-gray);
            &:nth-child(1) {
              &:hover {
                background-color: rgb(182, 9, 9);
                border: 2px solid maroon;
                color: white;
              }
            }
            &:nth-child(3) {
              &:hover {
                background-color: rgb(12, 146, 12);
                border: 2px solid green;
                color: white;
              }
            }
          }

          input {
            width: 30%;
            padding: 5px 10px;
            border-radius: 20px;
            outline: 2px solid green;
            border: none;
            text-align: center;
            color: black;
          }
        }
      }

      button {
        padding: 0.5rem 1rem;
        border-radius: 25px;
        border: 2px solid rgb(141, 198, 63);
        background-color: rgb(141, 198, 63);
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgb(141, 198, 63);
          opacity: 0.7;
          border: 2px solid rgb(141, 198, 63);
        }
      }
    }
  }

  .order_summary {
    padding: 1rem;
    button {
      padding: 0.5rem 1rem;
      width: 80%;
      border-radius: 25px;
      border: 2px solid rgb(141, 198, 63);
      background-color: rgb(141, 198, 63);
      color: white;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgb(141, 198, 63);
        opacity: 0.7;
        border: 2px solid rgb(141, 198, 63);
      }
    }
  }
}
